:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  --hue: 45;
  --sat: 98%;
  --first-color: hsl(var(--hue), var(--sat), 60%);
  --first-color-light: hsl(var(--hue), var(--sat), 85%);
  --first-color-lighten: hsl(var(--hue), var(--sat), 80%);
  --first-color-alt: hsl(var(--hue), var(--sat), 53%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 65%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #FFF;
  --scroll-bar-color: hsl(var(--hue), 4%, 85%);
  --scroll-thumb-color: hsl(var(--hue), 4%, 75%);
}
::-webkit-scrollbar {
  width:1rem;
}
::-webkit-scrollbar-track {
  background-color: #333;
}
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  background-clip: content-box;
  border-radius: 1rem;
  cursor: pointer;
  border: 4px solid transparent;
}
::-webkit-scrollbar-thumb:hover {
 background-color: #ccc;
}
*, ::before, ::after {
          box-sizing: border-box;
          padding: 0;
          margin: 0;
        }
        
        html {
          scroll-behavior: smooth;
        }
        
        body {
   font-family: "Poppins",sans-serif;
          transition: .5s;
overflow-x: hidden;
          background-color: #f5f5f5;
        }
        
        h1, h2, h3 {
          font-weight: var(--font-semi-bold);
          color: var(--title-color);
          line-height: 1.5;
      
        }
        h1 {
          font-size: 35px;
        }
       
a  {
  text-decoration: underline;
  color:#000000;
cursor: pointer;
}
a:hover {
  color: black;
  text-decoration: none;
}
main {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
button {
  border: 0px solid;
  outline: none;
  cursor: pointer;
  transition: .3s all ease;
}
.big-wrapper {
  width: 100%;
  border-radius: 8px;
height:100%;
display: flex;
justify-content: center;
align-items: center;
position: relative;
padding: 4rem;
}
.forms {
  position: relative;
  width: 320px;
  height: 450px;
}
.login {
  background-color: #fff;
  padding:2rem;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.1);
}
.signup {
  display: none;
}
.over .signup {
  background-color: #fff;
  padding:2rem;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.1);
    display: block;
    z-index: 99999;
    animation: flipInX;
    animation-duration: 1s;
}
.login::before {
  content: '';
  width: 94%;
  height: 105%;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  position:absolute;
 top: 0;
 z-index: -1;
 left: 10px;
 justify-content: center;
border-radius: 20px;
-webkit-box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.1);
}
.over .signup::before {
  content: '';
  width: 94%;
  height: 105%;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  position:absolute;
 top: 0;
left: 10px;
 justify-content: center;
border-radius: 20px;
-webkit-box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.1);
  z-index: -1;


}
.wrapper .logo {
  width: 100%;
  text-align: left;
color: #333;
  font-size: 20px;
}
.wrapper .title {
  font-size: 26px;
  margin-top: 10px;
  text-align: left;
  font-weight: 900;
  color: #100838;
}
.wrapper .box {
  text-align: left;
  margin-top: 20px;
}
.wrapper .box h5 {
  font-size: 15px;
  color: rgb(67, 66, 66);
}
.wrapper .box .inputBox {
  position: relative;
  display: flex;
}
.wrapper .box .inputBox input {
  padding: 10px;
  border-radius: 5px;
border:2px solid #ccc;
outline: none;
width: 100%;
padding-left: 30px;
font-size: 15px;
font-weight: 550;
transition: .3s all ease;
}
.wrapper .box .inputBox .l-p-i {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
  outline: none;
  width: 100%;
  padding-left: 30px;
  font-size: 15px;
  font-weight: 550;
  padding-right: 30px;
}
.wrapper .box .inputBox .i-l {
  position: absolute;
  color: rgb(60, 60, 60);
  z-index: 9999;
  display: flex;
  top:12px;
  left: 10px;
}
.wrapper .box .inputBox .p-i {
  position: absolute;
  top: 12px;
  right: 10px;
  cursor: pointer;
}
.wrapper .box .inputBox input:focus {
  border: 2px solid #000;

}
.log-btn {
  padding: 10px;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 17px;
  font-weight: 600;
  background-color: rgb(71, 71, 71);
  color: #fff;
  transition: .3s all ease;
}
.log-btn:hover {
  background-color: #333;
}.reg-btn {
  padding: 10px;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 17px;
  font-weight: 600;
  background-color: rgb(71, 71, 71);
  color: #fff;
  transition: .3s all ease;
}
.reg-btn:hover {
  background-color: #333;
}
.f-a {
  margin-top: 40px;
  font-size: 15px;
font-weight: 600;
color: rgb(171, 171, 171);
text-decoration: none;
display: flex;
justify-content: center;
width: 100%;
text-align: center;
}
.f-a:hover {
  text-decoration: underline;
  color: rgb(171, 171, 171);
}
.sign-re {
  position: absolute;
  right: -20px;
  background-color: var(--first-color);
  color: #333;
  padding: 10px;
  top: -20px;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  transition: .3s all ease;
}
.sign-re:hover {
background-color: var(--first-color-alt);
}
.login-re {
  position: absolute;
  right: -20px;
  background-color: var(--first-color);
  color: #333;
  padding: 10px;
  top: -20px;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  transition: .3s all ease;
  display: none;
}
.login-re:hover {
background-color: var(--first-color-alt);
}

.over {
  margin-bottom: 5rem;
  width: 360px;
  height: 600px;
  position: relative;
}
.over .sign-re {
  display: none;
}
.over .login {
  display: none;
}
.over .login-re {
  display: flex;
}
.terms {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
}
.terms input {
  cursor: pointer;
}
.error_div {

  position:fixed;
  right: -150%;
  background-color: #121235;
color: #fff;
padding: 10px;
border-radius: 8px;
bottom: 40px;
width: 320px;
border-left: 8px solid rgb(235, 53, 53) ;
transition: right 1s ease-in;
}
.error_close {
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.error-title h3{
  font-size: 20px;
  color: #fff;
  width: 100%;
  text-align: left;
}
.error-body {
text-align: left;
width: 100%;
font-size: 15px;
color: #c7c6c6;
}
.loader {
  background-color: rgba(255,255,255);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 999999;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.loader img {
  width: 60px;
  height: 60px;
  animation:ripple 1s infinite;
}
@keyframes ripple {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}