@media screen and (max-width:400px){
    body {
        margin: 5px;
    }
    .header {
        padding: 10px;
    }
    .wrapper img {
        width: 50%;
    }
    .wrapper p {
        width: 100%;
        white-space: normal;
        word-wrap: break-word;
        margin-top: 20px;
    }
    .wrapper .box input {
        width: 100%;
    }
    .wrapper .box button {
        width: 100%;
        margin-top: 20px;
    }
    .em-box {
width: 100px;
height: 100px;
margin-top: 30px;
}
.em-box i {
    font-size: 70px;
}
.wrapper2 p {
    width: 100%;
    white-space: normal;
    word-wrap: break-word;
    margin-top: 20px;
}
.wrapper2 button {
    width: 100%;
}
}