@media screen and (max-width:400px){
    body {
        margin: 5px;
    }
    .header {
        padding: 10px;
    }
    .wrapper img {
        width: 50%;
    }
    .wrapper p {
        width: 100%;
        white-space: normal;
        word-wrap: break-word;
        margin-top: 20px;
    }
    .wrapper .box input {
        width: 100% !important;
    }
    .wrapper .box button {
        width: 100% !important;
        margin-top: 20px;
    }
    .em-box {
width: 100px;
height: 100px;
margin-top: 30px;
}
.em-box i {
    font-size: 70px;
}
.wrapper2 p {
    width: 100%;
    white-space: normal;
    word-wrap: break-word;
    margin-top: 20px;
}
.wrapper2 button {
    width: 100% !important;
}
.error-section.container {
    margin: 0;
}
.error-section {
    max-width: 100%;
    width: 100%;
    padding: 0 ;
    padding-top: 40px;
}
.error-section h2 {
    text-align: center;
    width: 100%;
    white-space: normal;
    word-wrap: break-word;
}
.error-section #re-btn {
    width: 90% !important;
}
}

@media screen and (max-width:700px){
    body {
        margin: 5px;
    }
    .header {
        padding: 10px;
    }
    .wrapper img {
        width: 50%;
    }
    .wrapper p {
        width: 100%;
        white-space: normal;
        word-wrap: break-word;
        margin-top: 20px;
    }
    .wrapper .box input {
        width: 55%;
    }
    .wrapper .box button {
        width: 55%;
        margin-top: 20px;
    }
    .em-box {
width: 100px;
height: 100px;
margin-top: 30px;
}
.em-box i {
    font-size: 70px;
}
.wrapper2 p {
    width: 100%;
    white-space: normal;
    word-wrap: break-word;
    margin-top: 20px;
}
.wrapper2 button {
    width: 100%;
}
.wrapper2 button {
    width: 100%;
}
.error-section.container {
    margin: 0;
}
.error-section {
    max-width: 100%;
    width: 100%;
    padding: 0 ;
    padding-top: 40px;
}
.error-section h2 {
    text-align: center;
    width: 100%;
    white-space: normal;
    word-wrap: break-word;
}
.error-section #re-btn {
    width: 30%;
}
}
@media screen and (max-width:968px){
    .wrapper .box input {
        width: 50%;
    }
    .wrapper .box button {
        width: 50%;
        margin-top: 20px;
    }
    .wrapper2 button {
        width: 50%;
    }
    .error-section.container {
        margin: 0;
    }
    .error-section {
        max-width: 100%;
        width: 100%;
        padding: 0 ;
        padding-top: 40px;
    }
    .error-section h2 {
        text-align: center;
        width: 100%;
        white-space: normal;
        word-wrap: break-word;
    }
    .error-section #re-btn {
        width: 30%;
    }
}