:root {
    --header-height: 3rem;
    /*========== Colors ==========*/
    --hue: 45;
    --sat: 98%;
    --first-color: hsl(var(--hue), var(--sat), 60%);
    --first-color-light: hsl(var(--hue), var(--sat), 85%);
    --first-color-lighten: hsl(var(--hue), var(--sat), 80%);
    --first-color-alt: hsl(var(--hue), var(--sat), 53%);
    --title-color: hsl(var(--hue), 4%, 15%);
    --text-color: hsl(var(--hue), 4%, 35%);
    --text-color-light: hsl(var(--hue), 4%, 65%);
    --body-color: hsl(var(--hue), 0%, 100%);
    --container-color: #FFF;
    --scroll-bar-color: hsl(var(--hue), 4%, 85%);
    --scroll-thumb-color: hsl(var(--hue), 4%, 75%);
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: 1rem;
    /*========== Font weight ==========*/
    --font-semi-bold: 600;
    --font-bold: 700;
    /*========== Margenes ==========*/
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  
  @media screen and (min-width: 968px) {
    :root {
      --biggest-font-size: 3rem;
      --h2-font-size: 1.75rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: 1rem;
    }
  }
  
  /*=============== BASE ===============*/
  *, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 20px;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .5s;
    overflow-x: hidden;
  }
  
  h1, h2, h3 {
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
    line-height: 1.5;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 20px;
    margin-top: 0;
    background-color: #fff;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
  }
  .wrapper img {
    width: 26%;
  }
  .wrapper p {
   width: 450px;
   white-space: normal;
   word-wrap: break-word;
   text-align: center;
  }
  .box {
    max-width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .wrapper input {
    padding: 10px;
    border-radius: 10px;
    width: 26%;
    height: 55px;
    border: 2px solid #dedede;
    outline: none;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1px;
  }
  .wrapper input:focus {
    border: 2px solid #333;
  }
  .wrapper button {
    width: 26%;
    padding: 10px;
    color: #fff;
    background-color: #333;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;
    transition: .3s all ease;
    cursor: pointer;
    height: 50px;
    border: 0px solid;
    outline: none;
  }
  .wrapper button:hover {
    background-color: rgba(29, 28, 28);
  }
  .wrapper label {
    color: red;
    font-size: 15px;
    display: none;

  }
  .wrapper2 {
      width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 20px;

  }

  .em-box {
    background-color: #ededed;
    display: flex;
    width: 140px;
    height: 140px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 80px;
  }
  .wrapper2 p {
    width: 450px;
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
  }
  .wrapper2 button {
    width: 350px;
    padding: 10px;
    color: #fff;
    background-color: #333;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;
    transition: .3s all ease;
    cursor: pointer;
    height: 50px;
    margin-top: 20px;
    border: 0px solid;
    outline: none;
  }
  .wrapper2 button:hover {
    background-color: rgba(29, 28, 28);
  }
  .error-div {
    background-color: #fff;
    position: fixed;
    right: -500%;
    border-radius: 10px;
    color: #333;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
    bottom: 50px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: 0.8s right ease-in;
  }
  
  .error-div .sub p {
width: 100%;
white-space: normal;
word-wrap: break-word;
  }
  .ico {
    font-size: 30px;
    color: rgb(240, 52, 52);
  }
  .close-btn {
    align-items: start;
    font-size: 20px;
    cursor: pointer;
  }
  .loader {
    background-color: rgba(255,255,255);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 999999;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
  .loader img {
    width: 60px;
    height: 60px;
    animation:ripple 1s infinite;
  }
  @keyframes ripple {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }