@media screen and (max-width: 767px) {
    .nav__menu {
      position: fixed;
      background-color: var(--container-color);
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
      padding: 2.5rem 0;
      width: 90%;
      top: -100%;
      left: 0;
      right: 0;
      margin: 0 auto;
      transition: .4s;
      border-radius: 2rem;
      z-index: var(--z-fixed);
    }
}

    
@media screen and (max-width: 360px) {
    #navs{
      height:0px;
    }
    .loader img {
width: 50%;
    }
    .svg__img {
      width: 100%;
    }
    
    .services__img {
      width: 100px;
    }
    .app__buttons {
      grid-template-columns: max-content;
    }
    .footer__container {
      display: block;
    }
    .footer__content {
      margin-top: 40px;
    }
 .error-div {
  width: 94% !important;
 }
  }
   
  /* For medium devices */

  @media screen and (max-width:560px){
    .forms {
      height: 100%;
    }
    .form {
      height: 100%;
    }
    .row {
      flex-direction: column;
      gap: 10px;
    }
    .success {
      width: 100% !important;
    }
    .success-info {
      flex-direction: column;
    align-items: center;
    gap: 20px;
    }
    .ii-bg {
      width: 30px;
      height: 30px;
    }
   .error-div {
    width: 70%;
   }
  }
  @media screen and (min-width: 576px) {
    .svg__img {
      width: 100%;
    }
    .section__title-center {
      text-align: initial;
    }
    .home__container,
    .about__container,
    .security__container,
    .services__container,
    .app__container,
    .contact__container,
    .footer__container {
      grid-template-columns: repeat(2, 1fr);
    }
    .home__img {
      order: 1;
    }
    .home__container,
    .about__container,
    .security__container,
    .app__container,
    .contact__container {
      align-items: center;
    }
    .about__data,
    .security__data,
    .app__data,
    .contact__description {
      text-align: initial;
    }
    .about__img,
    .app__img {
      order: -1;
    }

 
  }
  @media screen and (max-width:400px) {
    .doctor .container {
      padding:5px !important;
    }
  }
  @media screen and (max-width:700px){
    body {
      height:100%;
    }

.modal {
    height: 100vh;
  }
  .modal .popup {
    width: 95% !important;
   overflow: auto;
height: 100%;

  }
  .loader img {
    width: 100px;
    height: 100px;
    }
    .doctor {
      padding-left: 5px;
      margin-bottom: 5rem !important;
    }
    .wrapper {
      width: 100%;
    }
    .banner {
      margin-left: 0;
      margin-top: 4rem;
    }
    .doctor .container {
        flex-direction: column;
        padding: 20px;
    }
    .forms {
        margin: 0;
        margin-top: 40px;
    }
    .nav__menu {
        padding: 2.5rem 0;
    }
    .success {
      width: 90%;
    }
    .success-info {
      flex-direction: column;
    align-items: center;
    gap: 20px;
    }
    .ii-bg {
      width: 40px;
      height: 40px;
    }
    .error-div {
     width: 70%; 
    }
  }
@media screen and (min-width:700px){
  .doctor {
    padding-left: 20px;
  }
  .doctor .container {
    flex-direction: column;
    padding: 20px;
}
.wrapper {
  width:70%;
margin-left: 70px;
}
  .forms {
    width: 100%;
    margin-left: 0;
  }
  .form {
    width: 100%;
      }
  .row {
    gap: 10px;
  }
  .banner {
    margin-left: 70px;
  }
  .error-div {
    width: 40%;
  }
}
@media screen and (min-width:1115px){
  .doctor .container {
    flex-direction: row !important;
    padding: 20px;
}
.wrapper {
  width:60%;
margin-right: 70px;
}
.error-div {
  width: 32%;
}
}

  
  @media screen and (min-width: 767px) {
    body {
      margin: 0;
    }
    .section {
      padding: 6rem 0 2rem;
    }
    .nav {
      height: calc(var(--header-height) + 1.5rem);
    }
    .nav__list {
      flex-direction: row;
      column-gap: 2.5rem;
    }
    .nav__toggle {
      display: none;
    }
    .change-theme {
      position: initial;
    }
    .app__buttons {
      justify-content: initial;
    }
  }
  
  /* For large devices */
  @media screen and (min-width: 968px) {
    .button__header {
      display: block;
    }
    .svg__img {
      width: 470px;
    }
    .about__container,
    .security__container,
    .app__container,
    .contact__container {
      column-gap: 6rem;
    }
    .services__container {
      grid-template-columns: repeat(3, 1fr);
    }
    .contact__container {
      grid-template-columns: 3fr 1.5fr 1.25fr;
    }
    .footer__container {
      grid-template-columns: repeat(5, 1fr);
    }
    .footer__social {
      align-items: flex-start;
    }
    .footer__social-link {
      font-size: 1.45rem;
    }
    .modal {
        height: 100vh;
      }
      .modal .popup {
        width: 60% !important;
       overflow: auto;
    height: 100vh;
    
      }
  }
  
  @media screen and (min-width: 1024px) {
    .container {
      margin-left: auto;
      margin-right: auto;
    }
    .home__img {
      width: 540px;
    }
    .home__description {
      padding-right: 5rem;
    }
    .footer__container {
      column-gap: 3rem;
    }
    .scrollup {
      right: 2rem;
    }
  }