:root {
          --header-height: 3rem;
          /*========== Colors ==========*/
          --hue: 45;
          --sat: 98%;
          --first-color: hsl(var(--hue), var(--sat), 60%);
          --first-color-h:hsl(var(--hue),var(--sat),50%);
          --first-color-light: hsl(var(--hue), var(--sat), 85%);
          --first-color-lighten: hsl(var(--hue), var(--sat), 80%);
          --first-color-alt: hsl(var(--hue), var(--sat), 53%);
          --title-color: hsl(var(--hue), 4%, 15%);
          --text-color: hsl(var(--hue), 4%, 35%);
          --text-color-light: hsl(var(--hue), 4%, 65%);
          --body-color: hsl(var(--hue), 0%, 100%);
          --container-color: #FFF;
          --scroll-bar-color: hsl(var(--hue), 4%, 85%);
          --scroll-thumb-color: hsl(var(--hue), 4%, 75%);
          /*========== Font and typography ==========*/
          --body-font: 'Poppins', sans-serif;
          --biggest-font-size: 2rem;
          --h2-font-size: 1.25rem;
          --h3-font-size: 1.125rem;
          --normal-font-size: .938rem;
          --small-font-size: .813rem;
          --smaller-font-size: 1rem;
          /*========== Font weight ==========*/
          --font-semi-bold: 600;
          --font-bold: 700;
          /*========== Margenes ==========*/
          --mb-0-5: .5rem;
          --mb-0-75: .75rem;
          --mb-1: 1rem;
          --mb-1-5: 1.5rem;
          --mb-2: 2rem;
          /*========== z index ==========*/
          --z-tooltip: 10;
          --z-fixed: 100;
        }
        
        @media screen and (min-width: 968px) {
          :root {
            --biggest-font-size: 3rem;
            --h2-font-size: 1.75rem;
            --h3-font-size: 1.25rem;
            --normal-font-size: 1rem;
            --small-font-size: .875rem;
            --smaller-font-size: 1rem;
          }
        }
        
        /*=============== BASE ===============*/
        ::-webkit-scrollbar {
          width:1rem;
        }
        ::-webkit-scrollbar-track {
          background-color: #333;
        }
        ::-webkit-scrollbar-thumb {
          background: var(--body-color);
          background-clip: content-box;
          border-radius: 1rem;
          cursor: pointer;
          border: 4px solid transparent;
        }
        ::-webkit-scrollbar-thumb:hover {
         background-color: #ccc;
        }
        *, ::before, ::after {
          box-sizing: border-box;
          padding: 0;
          margin: 0;
        }
        
        html {
          scroll-behavior: smooth;
        }
        
        body {
          margin: var(--header-height) 0 0 0;
          font-family: var(--body-font);
          font-size: var(--normal-font-size);
          background-color:#ffffff;
          color: var(--text-color);
          transition: .5s;
          overflow: hidden;
        }

        .loader {
          width: 100%;
          top: 0;
          height: 100%;
          background-color: #4b4b4b;
          position: fixed;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index:9999;
          flex-direction: column;
          color: #fff;
        }
        .loader img {
          width:10%;
        }
        .loader h3 {
          color: #fff;
        }
    
        
        h1, h2, h3 {
          font-weight: var(--font-semi-bold);
          color: var(--title-color);
          line-height: 1.5;
        }
        
        ul {
          list-style: none;
        }
        
        a {
          text-decoration: none;
        }
        
        img {
          max-width: 100%;
          height: auto;
        }
        
        /*=============== THEME ===============*/
        /*========== Variables Dark theme ==========*/
        body.dark-theme {
          --first-color-light: hsl(var(--hue), var(--sat), 75%);
          --title-color: hsl(var(--hue), 4%, 95%);
          --text-color: hsl(var(--hue), 4%, 80%);
          --body-color: hsl(var(--hue), 8%, 13%);
          --container-color: hsl(var(--hue), 8%, 16%);
          --scroll-bar-color: hsl(var(--hue), 4%, 32%);
          --scroll-thumb-color: hsl(var(--hue), 4%, 24%);
        }

        /*=============== REUSABLE CSS CLASSES ===============*/
   .error-div{     
        background-color: #fff;
  position: fixed;
  right: -150%;
  max-width:100%;
  width:32%;
  border-radius: 10px;
  justify-content: center;
  color: #333;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
  bottom: 50px;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 999999;
  transition: 0.8s right ease-in;
}
.error-div .error {
  max-width: 100%;
  width: 100%;
}
.error-div .error .sub {
  max-width: 100%;
  width: 100%;
}
.error-div .error .sub p {
  max-width: 100%;
  width: 100%;
  white-space: normal;
  word-break: break-word;
}
.ico {
  font-size: 30px;
  color: rgb(240, 52, 52);
}
.close-btn {
  align-items: start;
  font-size: 20px;
  cursor: pointer;
}
        
        .section__title, .section__title-center {
          font-size: var(--h2-font-size);
          color: var(--title-color);
          text-align: center;
          margin-bottom: var(--mb-1);
        }
        
        .svg__color {
          fill: var(--first-color);
        }
        
        .svg__blob {
          fill: var(--first-color-light);
        }
        
        .svg__img {
          width: 300px;
          justify-self: center;
        }
        
        /*=============== LAYOUT ===============*/
        .container {
          max-width: 968px;
        }
        
        .grid {
          display: grid;
          gap: 1.5rem;
        }
        
        /*=============== HEADER ===============*/
        .header {
          width: 100%;
          background-color: var(--body-color);
          position: fixed;
          top: 0;
          left: 0;
          z-index: var(--z-fixed);
          transition: .5s;
          padding-left:20px;
          padding-right:20px;
          box-shadow: 0 5px 5px rgba(0,0,0,0.1);

        }
        
        /*=============== NAV ===============*/
        .nav {
          height: var(--header-height);
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .nav__list {
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 1.5rem;
        }
        
        .nav__link, .nav__logo, .nav__toggle {
          color: var(--title-color);
          font-weight: var(--font-semi-bold);
        }
        
        .nav__toggle {
          font-size: 1.3rem;
          cursor: pointer;
        }

        /* Show menu */
        .show-menu {
          top: calc(var(--header-height) + 1rem) !important;
        }
        
        /* Active link */
        .active-link {
          position: relative;
        }
        
        .active-link::before {
          content: '';
          position: absolute;
          bottom: -.75rem;
          left: 45%;
          width: 5px;
          height: 5px;
          background-color: var(--title-color);
          border-radius: 50%;
        }
        
        /* Change background header */
        .scroll-header {
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
        }
          /*==================DROPWDOWN==============*/
          .account-li {
            position: relative;
            cursor: pointer;
          }
          .account-dropdown {
            padding: 20px;
            border-radius: 8px;
            width: 220px;
            z-index: 999;
            height: 200px;
            background-color: #fff;
            position: absolute;
            box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
            color: #333;
            left: -60px;
            margin-top: 20px;
            display: none;
          }
          .account-dropdown::before{
            content: '';
            width: 20px;
            position: absolute;
            height: 20px;
            background-color: rgb(255, 255, 255);
            top: -10px;
            left: 90px;
            z-index: 999999;
            transform: rotate(45deg);
            box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.1);
          }
          .account-dropdown li {
            padding: 10px;
            width: 100%;
            height: 40px;
            border-radius: 5px;
            cursor: pointer;
            transition: .3s all ease;
            display: flex;
            justify-content: left;
            gap: 10px;
            align-items: center;
          }
          .account-dropdown li:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }
          .drop-hovered .account-dropdown {
            display: block;
          }
          .drop-focused .account-dropdown {
            display: block;
          }
          
      
/*=================default============================*/
.int {
  border: 0px solid;
  outline: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  color: rgb(112, 112, 112);
  background-color: rgba(239,239,239);
  font-weight: 600;
  transition: .3s all ease;
}
.row {
  display: flex;
width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container {
  display: flex;

width: 100%;
}
.right {
  margin-right: 10px;
}
.top {
  margin-top: 20px;
}
.bottom {
  margin-bottom: 10px;
}
textarea {
  height: 6rem;
  resize: none;
}
  /*========================HOME=====================*/
  main {
    height: 100%;
    width: 100%;

  }
  main .container {
    margin: 0;
    max-width: 100%;
    max-height: 100%;
  }
  .doctor {
    display: flex;
    justify-content: space-between;
    height: 100%;
    gap: 60px;
    padding-left: 80px;
    background-color: #fff;
  }
  .banner {
    display: flex;
    flex-direction: column;
color: #2f2f2f;
    margin-top: 8rem;
    font-weight: 600;
    margin-left: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .banner p {
    font-size: 20px;
  }
  .big-title {
  padding-bottom: 0.5rem;
  }
  .big-title h1 {
    font-size: 45px;
    color: #333333;
  }
/*=========================FORM===========================*/
.wrapper {
  width: 50%;
  position: relative;
}
.forms {
  border-radius: 10px;
  background-color: #fff;
  width: 100%;
  margin-left:50px;
  margin-top: 5rem;
  margin-bottom: 3rem;
  box-shadow: 0 0 20px 10px rgba(0,0,0,0.1);
}
.form {
  padding: 20px;
  width: 100%;
  height: 99%;
  overflow: auto;
  position:relative;
}

.select {
padding: 10px;
width: 100%;
cursor: pointer;
border-radius: 5px;
color: rgb(112,112,112);
outline: none;
background-color: rgb(239, 239, 239);
border: 0px solid;
}
input[type="date"]{
  cursor: pointer;
height:2.3rem;

}
.int:focus {
background-color: #e3e3e3;
color: #000000;
}
.book-btn {
  border: 0px solid;
  outline: none;
  border-radius: 5px !important;
  cursor: pointer;
  font-size: 17px;
  width: 100%;
margin-top: 10px;
}
.form-loader {
  position: absolute;
  top: 0;
  left:0;
  z-index: 99;
  border-radius: 10px;
  display: none;
  justify-content: center;
  align-items: center;
  animation: fade 0.5s ease;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  border-top-right-radius: 0;
}
.form-loader2 {
  position: absolute;
  top: 0;
  left: 0;
    z-index: 99;
  border-radius: 10px;
  display: none;
  justify-content: center;
  align-items: center;
  animation: fade 0.5s ease;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  border-top-right-radius: 0;
}
@keyframes fade {
  0% {
    opacity: 0;
  }100% {
    opacity: 1;
  }
}


/*======================CONFIRM========================*/
.confirm {
  padding: 20px;
  height: 99%;
  overflow: auto;
  position: relative;
}
.none {
  display: none;
}
.nonse {
  display: none;
}
.confirm p {
  width: 100%;
  white-space: normal;
  word-wrap: break-word;
}
/*===========================SUCCESS=================*/
.success {
  padding: 20px;
  background-color: #fff;
  width: 50%;
  margin: 8% auto;
  border-radius: 10px;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
}
.success-form {
  background-color: #d8eccf;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: slateblue;
}
.i-bg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
border: 2px solid slateblue;
display: flex;margin: 0 auto;
margin-bottom: 10px;
align-items: center;
justify-content: center;
}
.i-bg i {
  font-size: 30px;
}
.success-form h3 {
  color: slateblue;
}
.success-info {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.ii-bg {
  border: 2px solid orange;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
}
.ii-bg i {
  font-size: 20px;
  color: orange;
}
.success-info p {
  font-size: 14px;
}
.back-btn {
  background-color: var(--first-color);
  color: #333;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 0px solid;
  margin-top: 20px;
  cursor: pointer;
  transition: .3s all ease;
}
.back-btn:hover {
  background-color: var(--first-color-h);
}


        /*=============== BUTTONS ===============*/
    
        .button {
          display: inline-block;
          background-color: var(--first-color);
          color: #1A1A1A;
          padding: .75rem 1.5rem;
          border-radius: 3rem;
          font-weight: var(--font-semi-bold);
          transition: .3s;
        }
        
        .button:hover {
          background-color: var(--first-color-alt);
        }
        
        .button__header {
          display: none;
        }
        
        .button-link {
          background: none;
          padding: 0;
          color: var(--title-color);
        }
        
        .button-link:hover {
          background-color: transparent;
        }
        
        .button-flex {
          display: inline-flex;
          align-items: center;
          column-gap: .25rem;
          padding: .75rem 1rem;
        }
        
        .button__icon {
          font-size: 1.5rem;
        }
        .b {
          display: block !important;
        }
        

      