:root {
          --header-height: 3rem;
          /*========== Colors ==========*/
          --hue: 45;
          --sat: 98%;
          --first-color: hsl(var(--hue), var(--sat), 60%);
          --first-color-h: hsl(var(--hue), var(--sat), 50%);
          --first-color-light: hsl(var(--hue), var(--sat), 85%);
          --first-color-lighten: hsl(var(--hue), var(--sat), 80%);
          --first-color-alt: hsl(var(--hue), var(--sat), 53%);
          --title-color: hsl(var(--hue), 4%, 15%);
          --text-color: hsl(var(--hue), 4%, 35%);
          --text-color-light: hsl(var(--hue), 4%, 65%);
          --body-color: hsl(var(--hue), 0%, 100%);
          --container-color: #FFF;
          --scroll-bar-color: hsl(var(--hue), 4%, 85%);
          --scroll-thumb-color: hsl(var(--hue), 4%, 75%);
          /*========== Font and typography ==========*/
          --body-font: 'Poppins', sans-serif;
          --biggest-font-size: 2rem;
          --h2-font-size: 1.25rem;
          --h3-font-size: 1.125rem;
          --normal-font-size: .938rem;
          --small-font-size: .813rem;
          --smaller-font-size: 1rem;
          /*========== Font weight ==========*/
          --font-semi-bold: 600;
          --font-bold: 700;
          /*========== Margenes ==========*/
          --mb-0-5: .5rem;
          --mb-0-75: .75rem;
          --mb-1: 1rem;
          --mb-1-5: 1.5rem;
          --mb-2: 2rem;
          /*========== z index ==========*/
          --z-tooltip: 10;
          --z-fixed: 100;
}

@media screen and (min-width: 968px) {
          :root {
                    --biggest-font-size: 3rem;
                    --h2-font-size: 1.75rem;
                    --h3-font-size: 1.25rem;
                    --normal-font-size: 1rem;
                    --small-font-size: .875rem;
                    --smaller-font-size: 1rem;
          }
}

/*=============== BASE ===============*/
::-webkit-scrollbar {
          width: 1rem;
}

::-webkit-scrollbar-track {
          background-color: #333;
}

::-webkit-scrollbar-thumb {
          background: var(--body-color);
          background-clip: content-box;
          border-radius: 1rem;
          cursor: pointer;
          border: 4px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
          background-color: #ccc;
}

*,
::before,
::after {
          box-sizing: border-box;
          padding: 0;
          margin: 0;
}

html {
          scroll-behavior: smooth;
}

body {
          margin: var(--header-height) 0 0 0;
          font-family: var(--body-font);
          font-size: var(--normal-font-size);
          background-color: #fff;
          color: var(--text-color);
          transition: .5s;
          overflow-x: hidden;
}

.loader {
          width: 100%;
          top: 0;
          height: 100%;
          background-color: #fff;
          position: fixed;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 9999;
          flex-direction: column;
          color: #fff;
}

.loader img {
          width:80px;
          height: 80px;
          animation: ripple 1s infinite;
}
@keyframes ripple {
          0%{
                    opacity: 1;
          }
          50% {
                    opacity:0.5;
          }
          100% {
                    opacity: 1;
          }
}


h1,
h2,
h3 {
          font-weight: var(--font-semi-bold);
          color: var(--title-color);
          line-height: 1.5;
}

ul {
          list-style: none;
}

a {
          text-decoration: none;
}

img {
          max-width: 100%;
          height: auto;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme {
          --first-color-light: hsl(var(--hue), var(--sat), 75%);
          --title-color: hsl(var(--hue), 4%, 95%);
          --text-color: hsl(var(--hue), 4%, 80%);
          --body-color: hsl(var(--hue), 8%, 13%);
          --container-color: hsl(var(--hue), 8%, 16%);
          --scroll-bar-color: hsl(var(--hue), 4%, 32%);
          --scroll-thumb-color: hsl(var(--hue), 4%, 24%);
}

/*=============== REUSABLE CSS CLASSES ===============*/

.row {
    display: flex;
    align-items: center;
    
}
.section__title,
.section__title-center {
          font-size: var(--h2-font-size);
          color: var(--title-color);
          text-align: center;
          margin-bottom: var(--mb-1);
}

.svg__color {
          fill: var(--first-color);
}

.svg__blob {
          fill: var(--first-color-light);
}

.svg__img {
          width: 300px;
          justify-self: center;
}
/*======================HEADER====================*/
header {
  height: 60px;
  width: 100%;
  padding: 2rem;
  display: flex;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.back-btn {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #fff;
  color: #333;
  font-size: 17px;
  border: 0px solid;
  outline: none;
  cursor: pointer;
  transition: .3s all ease;
}
.back-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/*=============== LAYOUT ===============*/
.container {
          max-width: 968px;
          margin-left: var(--mb-1-5);
          margin-right: var(--mb-1-5);
}

.grid {
          display: grid;
          gap: 1.5rem;
}


.error-div {
    background-color: #fff;
    position: fixed;
    right: -150%;
    border-radius: 10px;
    color: #333;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
    bottom: 50px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: 0.8s right ease-in;
  }
  .ico {
    font-size: 30px;
    color: rgb(240, 52, 52);
  }
  .close-btn {
    align-items: start;
    font-size: 20px;
    cursor: pointer;
  }

/* Change background header */
.scroll-header {
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
/*=============== BUTTONS ===============*/

.button {
          display: inline-block;
          background-color: var(--first-color);
          color: #1A1A1A;
          padding: .75rem 1.5rem;
          border-radius: 3rem;
          font-weight: var(--font-semi-bold);
          transition: .3s;
}

.button:hover {
          background-color: var(--first-color-alt);
}

.button__header {
          display: none;
}

.button-link {
          background: none;
          padding: 0;
          color: var(--title-color);
}

.button-link:hover {
          background-color: transparent;
}

.button-flex {
          display: inline-flex;
          align-items: center;
          column-gap: .25rem;
          padding: .75rem 1rem;
}

.button__icon {
          font-size: 1.5rem;
}

.b {
          display: block !important;
}
.big-wrapper {
          width: 100%;
          height: 100%;
          padding: 1rem;
          display: flex;
          gap: 2em;
          justify-content: space-between;
}
.left-div {
          max-width: 50%;
          width: 100%;
          max-height: 80%;
          height: 100%;
          padding: 10px;
}
.left-div img {
          width: 100%;
          height: 100%;
          
}
.right-div {
          padding: 0.5rem;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
}
.right-div .location-div {
          width: 100%;
          display: flex;
          height: 40px;
          font-size: 17px;
          align-items: center;
          color: #9f9e9e;
          font-family: 'Roboto Mono' , monospace;
          letter-spacing: 1px;
}
.product-title {
          font-family: 'Source Sans Pro',sans-serif;
          letter-spacing: 1px;
          font-size: 22px;
}
.price-div {
          color: #333;
          font-size: 19px;
          margin-top: 10px;
}
.quantity-div select{
          color: #333;
          font-size: 19px;
          width: 60px;
          height: 40px;
          border: 0px solid;
          outline: none;
          background-color: #fff;
          border-radius: 5px;
          cursor: pointer;
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          font-weight: bold;
          margin-left: 10px;
}
.quantity-div  select option {
    border: none;
    outline: none;
}
.buy-btn {
          width: 50%;
          height: 45px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 19px;
          font-weight: 600;
          font-family: 'Source Sans Pro',sans-serif;
          letter-spacing: 1px;
          margin-top: 10px;
          border: 0px solid;
          border-radius: 5px;
          color: #333;
          cursor: pointer;
          background-color: var(--first-color);
          transition: .3s all ease-in;
}
.buy-btn:hover {
          background-color: var(--first-color-h);
}
.description-div {
          border-radius: 5px;
          padding: 1rem;
          background-color:#232427;
          margin-top:40px;
          box-shadow: inset 4px 4px 4px rgba(255,255,255,0.2),
                      inset -5px -5px 15px rgba(255,255,255,0.1),
                      inset 5px 5px 15px rgba(255,255,255,0.2),
                      inset -5px 5px 15px rgba(255, 255, 255, 0.1);
          
} 
.description-div .row {
          display:flex;
          gap: 10px;
          margin-top: 10px;
          color: rgb(211, 211, 211);
}
.stars {
          color: var(--first-color);

}
/*=============== FOOTER ===============*/
.footer {

          background-color: var(--first-color-lighten);
          padding-bottom: 2rem;
}

.footer__container {
          row-gap: 5rem;
          display: flex;
          justify-content: center;
}

.footer__logo,
.footer__title {
          font-size: var(--h3-font-size);
          margin-bottom: var(--mb-0-75);
}

.footer__logo {
          display: inline-block;
          font-weight: var(--font-semi-bold);
          color: var(--title-color);
}

.footer__description,
.footer__link {
          font-size: var(--small-font-size);
}

.footer__links {
          display: grid;
          row-gap: .5rem;
}

.footer__link {
          color: var(--title-color);
}

.footer__social {
          display: flex;
          column-gap: 1.5rem;
}

.footer__social-link {
          font-size: 1.25rem;
          color: var(--title-color);
}

.footer__copy {
          margin-top: 6rem;
          text-align: center;
          font-size: var(--smaller-font-size);
          color: var(--text-color);
}

/*=============== SCROLL UP ===============*/
.scrollup {
          position: fixed;
          background: var(--first-color);
          right: 1rem;
          bottom: -20%;
          display: inline-flex;
          padding: .3rem;
          border-radius: .25rem;
          z-index: var(--z-tooltip);
          opacity: .8;
          transition: .4s;
}

.scrollup:hover {
          background-color: var(--first-color);
          opacity: 1;
}

.roc {
          transform: rotate(-45deg);
}

.scrollup__icon {
          font-size: 1.25rem;
          color: var(--title-color);
}

/* Show Scroll Up*/
.show-scroll {
          bottom: 3rem;
}
