
@media screen and (max-width: 767px) {
    .nav__menu {
      position: fixed;
      background-color: var(--container-color);
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
      padding: 2.5rem 0;
      width: 90%;
      top: -100%;
      left: 0;
      right: 0;
      margin: 0 auto;
      transition: .4s;
      border-radius: 2rem;
      z-index: var(--z-fixed);
    }
    #nav-menus {
      position: fixed;
      background-color: var(--container-color);
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
      padding: 2.5rem 0;
      width: 90%;
      top: 50px;
      left: 0;
      right: -1000%;
      margin: 0 auto;
      transition: .4s;
      border-radius: 2rem;
      z-index: var(--z-fixed);
    }
    #navs {
      height:0;
    }
  }


  
        @media screen and (max-width: 360px) {
          #navs{
            height:0px;
          }
          .loader img {
width: 50%;
          }
          .svg__img {
            width: 100%;
          }
          
          .services__img {
            width: 100px;
          }
          .app__buttons {
            grid-template-columns: max-content;
          }
          .footer__container {
            display: block;
          }
          .footer__content {
            margin-top: 40px;
          }
          .acc {
            padding: 10px;
          }
          .big-wrapper .display_info {
            padding: 0;
            padding-top: 20px;
            margin-bottom: 20px;
          }
          .pas .box {
            flex-direction: column;
            width: 100%;
            padding: 0;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
          }
          .pas .box .inputBox {
            width: 100%;
          }
          .del-btn {
            width: 100% !important;
          }
          .popup2 {
            width: 100%;
            height: 70%;
          }
          .popup2-ptag {
            flex-direction: column;
            margin-top: 20px;
          }
          .popup2-flexed {
            flex-direction: column;
          }
          .popup2-flexed input {
            width: 100%;
          }
          .popup2-flexed button {
            width: 100%;
          }
          .popup3 {
            width: 100%;
            height: 70%;
          }
          .popup3-body {
               flex-direction: column;
               width: 100%;
          }
          .popup3 .popup3-body input {
            width: 100%;
          }
          .popup3 .popup3-body button {
            width: 100%;
          }
       
        }
        @media screen and (max-width:500px) {
            .big-wrapper .tab-w .tabs ul {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                align-items: center;
            }
            .del-btn {
                width: 70%;
            }
            .account-header {
                margin-top: 100px;
            }
            .big-wrapper .display_info {
                padding: 0;
                padding-top: 20px;
                margin-bottom: 20px;
              }
              .pas .box {
                flex-direction: column;
                width: 100%;
                padding: 0;
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
              }
              .pas .box .inputBox {
                width: 100%;
              }
              .popup2 {
                width: 100%;
                height: 70%;
              }
              .popup2-ptag {
                flex-direction: column;
                margin-top: 20px;
              }
              .popup2-flexed {
                flex-direction: column;
              }
              .popup2-flexed input {
                width: 100%;
              }
              .popup2-flexed button {
                width: 100%;
              }
              .popup3 {
                width: 100%;
                height: 70%;
              }
              .popup3-body {
                   flex-direction: column;
                   width: 100%;
              }
              .popup3 .popup3-body input {
                width: 100%;
              }
              .popup3 .popup3-body button {
                width: 100%;
              }
        }
        
        /* For medium devices */
        @media screen and (min-width: 576px) {
    
          .footer__container {
            grid-template-columns: repeat(2, 1fr);
          }
          
          
        }
        
        @media screen and (max-width:700px) {
            .acc .display_info {
                display: flex;
                flex-direction: column;
            }
            .big-wrapper {
                flex-direction: column;
                margin-bottom: 100px;
            }
            .big-wrapper .tab-w {
                border: 0px solid;
                border-bottom: 1px solid grey;
                width: 100%;
            }
            .big-wrapper .tab-w .tabs {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                align-items: center;
            }
            .big-wrapper .tab-w .tabs ul {
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: center;
            }
            .big-wrapper .tab-w .tabs ul li {
                width: fit-content;
            }
            .footer {
                padding-top: 40px;
             }
               .footer__container {
                display: flex;
                flex-direction: column;
                gap: 20px;
               }
               .account-header {
                margin-top: 100px;
            }
            
            .popup2 {
                width: 100%;
                height: 70%;
              }
              .popup2-ptag {
                flex-direction: column;
                margin-top: 20px;
              }
              .popup2-flexed {
                flex-direction: column;
              }
              .popup2-flexed input {
                width: 100%;
              }
              .popup2-flexed button {
                width: 100%;
              }
              .popup3 {
                width: 100%;
                height: 70%;
              }
              .popup3-body {
                   flex-direction: column;
                   width: 100%;
              }
              .popup3 .popup3-body input {
                width: 100%;
              }
              .popup3 .popup3-body button {
                width: 100%;
              }
              .del-btn {
                width: 70%;
              }
    }
     @media screen and (min-width:700px) {
         .big-wrapper {
            margin-bottom: 100px;
         }
         .footer {
            padding-top: 40px;
         }
         .account-header {
            margin-top: 100px;
        }
        .popup2 {
            width: 80%;
            height: 60%;
          }
          .popup2-ptag {
            flex-direction: column;
            margin-top: 20px;
          }
          .popup2-flexed {
            flex-direction: column;
          }
          .popup2-flexed input {
            width: 100%;
          }
          .popup2-flexed button {
            width: 100%;
          }
          .popup3 {
            width: 80%;
            height: 70%;
          }
          .popup3-body {
               flex-direction: column;
               width: 100%;
          }
          .popup3 .popup3-body input {
            width: 100%;
          }
          .popup3 .popup3-body button {
            width: 100%;
          }
     }
        
        @media screen and (min-width: 767px) {
          body {
            margin: 0;
          }
          .section {
            padding: 6rem 0 2rem;
          }
          .nav {
            height: calc(var(--header-height) + 1.5rem);
          }
          .nav__list {
            flex-direction: row;
            column-gap: 2.5rem;
          }
          .nav__toggle {
            display: none;
          }
          .change-theme {
            position: initial;
          }
          .app__buttons {
            justify-content: initial;
          }
          .popup2 {
            width: 50%;
            height: 60%;
          }
          .popup2-ptag {
            flex-direction: column;
            margin-top: 20px;
          }
          .popup2-flexed {
            flex-direction: column;
          }
          .popup2-flexed input {
            width: 100%;
          }
          .popup2-flexed button {
            width: 100%;
          }
          .popup3 {
            width: 50%;
            height: 70%;
          }
          .popup3-body {
               flex-direction: column;
               width: 100%;
          }
          .popup3 .popup3-body input {
            width: 100%;
          }
          .popup3 .popup3-body button {
            width: 100%;
          }
        }
        
        /* For large devices */
        @media screen and (min-width: 968px) {
          .button__header {
            display: block;
          }
          .svg__img {
            width: 470px;
          }
          .about__container,
          .security__container,
          .app__container,
          .contact__container {
            column-gap: 6rem;
          }
          .services__container {
            grid-template-columns: repeat(3, 1fr);
          }
          .contact__container {
            grid-template-columns: 3fr 1.5fr 1.25fr;
          }
          .footer__container {
            grid-template-columns: repeat(5, 1fr);
          }
          .footer__social {
            align-items: flex-start;
          }
          .footer__social-link {
            font-size: 1.45rem;
          }
          .popup2 {
            width: 50%;
            height: 50%;
          }
          .popup2-ptag {
            flex-direction: row;
            margin-top: 20px;
          }
          .popup2-flexed {
            flex-direction:row;
          }
          .popup2-flexed input {
            width: 100%;
          }
          .popup2-flexed button {
            width: 60%;
          }
          .popup3 {
            width: 50%;
            height: 50%;
          }
          .popup3-body {
               flex-direction: row;
               width: 100%;
          }
          .popup3 .popup3-body input {
            width: 100%;
          }
          .popup3 .popup3-body button {
            width: 60%;
          }
          .account-header {
            margin-top: 30px;
          }
        }
        
        @media screen and (min-width: 1024px) {
          .container {
            margin-left: auto;
            margin-right: auto;
          }
          .home__img {
            width: 540px;
          }
          .home__description {
            padding-right: 5rem;
          }
          .footer__container {
            column-gap: 3rem;
          }
          .scrollup {
            right: 2rem;
          }
        }