:root {
          --header-height: 3rem;
          /*========== Colors ==========*/
          --hue: 45;
          --sat: 98%;
          --first-color: hsl(var(--hue), var(--sat), 60%);
          --first-color-h:hsl(65,var(--sat),80%);
          --first-color-light: hsl(var(--hue), var(--sat), 85%);
          --first-color-lighten: hsl(var(--hue), var(--sat), 80%);
          --first-color-alt: hsl(var(--hue), var(--sat), 53%);
          --title-color: hsl(var(--hue), 4%, 15%);
          --text-color: hsl(var(--hue), 4%, 35%);
          --text-color-light: hsl(var(--hue), 4%, 65%);
          --body-color: hsl(var(--hue), 0%, 100%);
          --container-color: #FFF;
          --scroll-bar-color: hsl(var(--hue), 4%, 85%);
          --scroll-thumb-color: hsl(var(--hue), 4%, 75%);
          /*========== Font and typography ==========*/
          --body-font: 'Poppins', sans-serif;
          --biggest-font-size: 2rem;
          --h2-font-size: 1.25rem;
          --h3-font-size: 1.125rem;
          --normal-font-size: .938rem;
          --small-font-size: .813rem;
          --smaller-font-size: 1rem;
          /*========== Font weight ==========*/
          --font-semi-bold: 600;
          --font-bold: 700;
          /*========== Margenes ==========*/
          --mb-0-5: .5rem;
          --mb-0-75: .75rem;
          --mb-1: 1rem;
          --mb-1-5: 1.5rem;
          --mb-2: 2rem;
          /*========== z index ==========*/
          --z-tooltip: 10;
          --z-fixed: 100;
        }
        
        @media screen and (min-width: 968px) {
          :root {
            --biggest-font-size: 3rem;
            --h2-font-size: 1.75rem;
            --h3-font-size: 1.25rem;
            --normal-font-size: 1rem;
            --small-font-size: .875rem;
            --smaller-font-size: 1rem;
          }
        }
        
        /*=============== BASE ===============*/
        ::-webkit-scrollbar {
          width:1rem;
        }
        ::-webkit-scrollbar-track {
          background-color: #333;
        }
        ::-webkit-scrollbar-thumb {
          background: var(--body-color);
          background-clip: content-box;
          border-radius: 1rem;
          cursor: pointer;
          border: 4px solid transparent;
        }
        ::-webkit-scrollbar-thumb:hover {
         background-color: #ccc;
        }
        *, ::before, ::after {
          box-sizing: border-box;
          padding: 0;
          margin: 0;
        }
        
        html {
          scroll-behavior: smooth;
        }
        
        body {
          margin: var(--header-height) 0 0 0;
          font-family: var(--body-font);
          font-size: var(--normal-font-size);
          background-color:#f5f5f5;
          color: var(--text-color);
          transition: .5s;
          overflow-x: hidden;
        }

        .loader {
          width: 100%;
          top: 0;
          height: 100%;
          background-color: #4b4b4b;
          position: fixed;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index:9999;
          flex-direction: column;
          color: #fff;
        }
        .loader img {
          width:10%;
        }
        .loader h3 {
          color: #fff;
        }
    
        
        h1, h2, h3 {
          font-weight: var(--font-semi-bold);
          color: var(--title-color);
          line-height: 1.5;
        }
        
        ul {
          list-style: none;
        }
        
        a {
          text-decoration: none;
        }
        
        img {
          max-width: 100%;
          height: auto;
        }
        .loader2 {
          background-color: rgba(255,255,255);
          width: 100%;
          height: 100%;
          top: 0;
          z-index: 999999;
          display: none;
          justify-content: center;
          align-items: center;
          position: absolute;
        }
        .loader2 img {
          width: 60px;
          height: 60px;
          animation:ripple 1s infinite;
        }
        @keyframes ripple {
          0% {
            opacity: 1;
          }
          50% {
            opacity: 0.4;
          }
          100% {
            opacity: 1;
          }
        }
        
        /*=============== THEME ===============*/
        /*========== Variables Dark theme ==========*/
        body.dark-theme {
          --first-color-light: hsl(var(--hue), var(--sat), 75%);
          --title-color: hsl(var(--hue), 4%, 95%);
          --text-color: hsl(var(--hue), 4%, 80%);
          --body-color: hsl(var(--hue), 8%, 13%);
          --container-color: hsl(var(--hue), 8%, 16%);
          --scroll-bar-color: hsl(var(--hue), 4%, 32%);
          --scroll-thumb-color: hsl(var(--hue), 4%, 24%);
        }

        /*=============== REUSABLE CSS CLASSES ===============*/
      
        
        .section__title, .section__title-center {
          font-size: var(--h2-font-size);
          color: var(--title-color);
          text-align: center;
          margin-bottom: var(--mb-1);
        }
        
        .svg__color {
          fill: var(--first-color);
        }
        
        .svg__blob {
          fill: var(--first-color-light);
        }
        
        .svg__img {
          width: 300px;
          justify-self: center;
        }
        
        /*=============== LAYOUT ===============*/
        .container {
          max-width: 968px;
          margin-left: var(--mb-1-5);
          margin-right: var(--mb-1-5);
        }
        
        .grid {
          display: grid;
          gap: 1.5rem;
        }
        
        /*=============== HEADER ===============*/
        .header {
          width: 100%;
          background-color: var(--body-color);
          position: fixed;
          top: 0;
          left: 0;
          z-index: var(--z-fixed);
          transition: .5s;
        }
        
        /*=============== NAV ===============*/
        .nav {
          height: var(--header-height);
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
#navs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
        
  


      .shows-menu  #nav-menus {
right:10px;
      }  
        .nav__list {
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 1.5rem;
        }
        
        .nav__link, .nav__logo, .nav__toggle {
          color: var(--title-color);
          font-weight: var(--font-semi-bold);
        }
        
        .nav__toggle {
          font-size: 1.3rem;
          cursor: pointer;
        }
        
        /* Show menu */
        .show-menu {
          top: calc(var(--header-height) + 1rem) !important;
        }
        
        /* Active link */
        .active-link {
          position: relative;
        }
        
        .active-link::before {
          content: '';
          position: absolute;
          bottom: -.75rem;
          left: 45%;
          width: 5px;
          height: 5px;
          background-color: var(--title-color);
          border-radius: 50%;
        }
        
        /* Change background header */
        .scroll-header {
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
        }
         /*==================DROPWDOWN==============*/
         .account-li {
          position: relative;
          cursor: pointer;
        }
        .account-dropdown {
          padding: 20px;
          border-radius: 8px;
          width: 220px;
          z-index: 999;
          height: 200px;
          background-color: #fff;
          position: absolute;
          box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
          color: #333;
          left: -60px;
          margin-top: 20px;
          display: none;
        }
        .account-dropdown::before{
          content: '';
          width: 20px;
          position: absolute;
          height: 20px;
          background-color: rgb(255, 255, 255);
          top: -10px;
          left: 90px;
          z-index: 999999;
          transform: rotate(45deg);
          box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.1);
        }
        .account-dropdown li {
          padding: 10px;
          width: 100%;
          height: 40px;
          border-radius: 5px;
          cursor: pointer;
          transition: .3s all ease;
          display: flex;
          justify-content: left;
          gap: 10px;
          align-items: center;
        }
        .account-dropdown li:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
        .drop-hovered .account-dropdown {
          display: block;
        }
        .drop-focused .account-dropdown {
          display: block;
        }
        
/*=======================ACCOUNT=====================*/
.active-tab {
  color: var(--first-color);
}
.big-wrapper {

  padding: 0.5rem;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 2rem;
display: flex;
}
.big-wrapper .wrapper {
  width: 100%;
}
.big-wrapper .tab-w {
  width: 30%;
 border-right: 1px solid grey;
}
.big-wrapper .wrapper .tabs {

  padding: 2rem;
}
.big-wrapper .wrapper .tabs ul li {
  padding: 0.6rem;
display:flex;
align-items: center;
  width: 100%;
  transition: .6s all ease;
}
.big-wrapper .wrapper .tabs ul li a {
  margin-left: 10px;
  text-align: right;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
}
.big-wrapper .wrapper .tabs ul li:hover {
  color: var(--first-color);
}
.account-tab .acc{
display: block;
}
.account-tab .del{
display:none;
}
.account-tab .pas{
display: none;
}
.password-tab .acc{
display: none;
}
.password-tab .del{
display:none;
}
.password-tab .pas{
display: block;
}
.del-tab .acc{
display: none;
}
.del-tab .del{
display:block;
}
.del-tab .pas{
display:none;
}
.acc {
  padding: 2rem;
  width: 100%;
}
.profile-div {
  width: 100%;
}
.acc .display_info {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
  padding: 1rem;
  width: 100%;
}
.acc .full_add_in {
  padding: 1rem;
  width: 100%;
}
.acc .display_info .inputBox {
display: flex;
flex-direction: column;
  width: 100%;
}
.acc .display_info .inputBox input::-webkit-inner-spin-button ,
.acc .display_info .inputBox input::-webkit-outer-spin-button {
 appearance: none;

}
.acc .display_info .inputBox input {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
  outline: none;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  height:40px;
  transition: 0.3s all ease; 
}

.acc .display_info .inputBox input:focus{
  border: 2px solid rgb(61, 61, 61); 
}

.in-n-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.phone_box {
  width: 180%;
}
.g-u-i {
  height: 100px;
}
.acc_btns {
  padding: 1rem;
}
.save-btn {
  border-radius: 5px !important;
  border: 0px solid;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}
.save-btn:hover {
  background-color: var(--first-color-h);
}
.pas {
  padding: 2rem;
}
.pas .wrapper-title {
  margin-bottom: 20px;
}
.pas .wrapper-title p {
  font-size: 15px;
}
.box {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box h4{
  color: #333;
  font-size: 15px;
}
.box .inputBox {
  display: flex;
  position: relative;
  width: 60%;
  align-items: center;
}
.box .inputBox input {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
  outline: none;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  height:40px;
  transition: 0.3s all ease; 
  
}
.box .inputBox input:focus {
  border: 2px solid rgb(61, 61, 61);
}
.box .inputBox i {
  position: absolute;
right: 10px;
cursor: pointer;
transition: 0.3s all ease-in;
}
.box .inputBox i:hover {
  color: #000;
}
hr {
border-top: 1px solid #ccc;
}
.ch-btn {
  margin-top: 40px;
  border: 0px solid;
  outline: none;
  border-radius: 5px !important;
  font-size: 16px;
  cursor: pointer;
}
.inputBox .in-n-box .g-pi-i {
  width: 25% !important;
  margin-right: 10px;
} 
.inputBox .in-n-box .g-p-i {
  width: 100%;
}
.phone-box .g-p-i {
  width: 90%;
}
.loader2 {
  background-color: rgba(255,255,255);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 999999;
  justify-content: center;
  align-items: center;
  position: absolute;
  display: none;
}
.loader2 img {
  width: 60px;
  height: 60px;
  animation: ripple 1s infinite;
}
@keyframes ripple {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.del{
padding: 2rem;
width: 100%;
height: 100%;
}
.del-btn {
  background-color: #fff;
  border-radius: 5px;
  width: 40%;
  border: 2px solid rgb(241, 58, 58);
  font-size: 18px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px;
  color: rgb(241, 58, 58);
  margin-top: 20px;
  cursor: pointer;
  transition: .3s all ease;
}
.del-btn:hover {
  background-color: rgb(241, 58, 58);
  color: #fff;
}
.del ol {
  padding: 2rem;
  width: 100%;
  height: 100%;
  
}
.modal2 {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  display: none;

}
.relativer {
  width: 100%;
  height: 100%;
display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popup2 {
  background-color: #fff;
  border-radius: 10px;
  width: 50%;
  height: 40%;
  color: #333;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 2%;
  padding: 20px;
  border-top: 8px solid rgb(241, 58, 58);
  border-right: 10px solid rgb(241, 58, 58);
  position: absolute;
  top: 20%;
  transition: 1s top ease-in;
}
.popup2-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup2-header h2 {
  color: #333;
  font-size: 34px;
}
.popup2-header h2 i {
  color: rgb(241, 58, 58);
}
.popup2-body {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 700;
  color: #333;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.popup2-footer {
margin-top: 5px;
  width: 100%;
}
.popup2-footer .popup2-ptag {
  display: flex;
  align-items: center;
  gap: 5px;
}
.popup2-flexed {
  display: flex;
  align-items: center;
  gap:10px;
  width: 100%;
  padding: 10px;
  height: 100%;
}
#email-popup2 {
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 17px;
  -webkit-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none;
}
.popup2-flexed input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  font-size: 17px;
  margin-top: 10px;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1px;
  outline: none;
  width: 60%;
  transition: .3s all ease;
}
.popup2-flexed input:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.del-foot-btn{
  padding: 10px;
  border: 2px solid rgb(241, 58, 58);
  background-color: #fff;
  color: #333;
  margin-top: 8px;
  outline: none;
  border-radius: 5px;
  font-size: 17px;
  font-family: 'Roboto Mono',monospace;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  transition: .3s all ease;
}
.del-foot-btn:hover {
  background-color: rgb(241, 58, 58);
  color: #fff;
}
.can-popup2 {
  background-color: #fff;
  font-size: 17px;
  color: #333;
  font-weight: 900;
  font-family: 'Roboto Mono', monospace;
  cursor: pointer;
  transition: .3s all ease;
  border: 0px solid;
  outline: none;
  padding: 10px;
}
.can-popup2:hover {
  background-color: #333;
  color: #fff;
  border-radius: 5px;
}
.error-div {
  background-color: #fff;
  position: fixed;
  right: -500%;
  border-radius: 10px;
  color: #333;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
  bottom: 50px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: 0.8s right ease-in;
}
.ico {
  font-size: 30px;
  color: rgb(240, 52, 52);
}
.close-btn {
  align-items: start;
  font-size: 20px;
  cursor: pointer;
}

.popup3 {
  background-color: #fff;
  border-top: 8px solid rgb(240, 52, 52);
  border-right: 10px solid rgb(240, 52, 52);
  padding: 1rem;
  padding-top: 2.5rem;
  height: 40%;
  border-radius: 10px;
  width: 40%;
  transition: 1s bottom ease-in;
  position: absolute;
  bottom: -100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.popup3 .popup3-header {
  font-weight: 900;
  letter-spacing: 1px;
  color: #333;
  font-size: 18px;
}
.popup3 .popup3-body {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin-top: 20px;
}
.popup3 .popup3-body input {
  padding: 10px;
  border: 1px solid #333;
  color: #333;
  font-weight: 900;
  letter-spacing: 1px;
  border-radius: 5px;
  width: 60%;
}
.confi-btn-popup3 {
  padding: 10px;
  background-color: #fff;
  color: #333;
  border: 2px solid rgb(240, 52, 52);
  border-radius: 5px;
  cursor: pointer;
  transition: .3s all ease;
  width: 40%;
  font-size: 17px;
  font-family: 'Roboto Mono',monospace;
  font-weight: 600;
  letter-spacing: 1px;
}
.confi-btn-popup3:hover {
  color: #fff;
  background-color: rgb(240, 52, 52);
}
/*===================BUTTON==================*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color:#1A1A1A;
  padding:.75rem 1.5rem;
  border-radius: 3rem;
  font-weight: var(--font-semi-bold);
  transition: .3s;
}
.button:hover {
  background-color: var(--first-color-alt);
}
.button__header {
  display: none;
}
.button-link {
  background: none;
  padding: 0;
  color: var(--title-color);
}
.button-link:hover {
  background-color: transparent;
}
.button-flex {
  display: inline-flex;
  align-items: center;
column-gap:.25rem;
padding: .75rem 1rem;
}
.button__icon {
  font-size: 1.5rem;
}
.b {
  display: block !important;
}

        /*=============== FOOTER ===============*/
.footer {

          background-color: var(--first-color-lighten);
          padding-bottom: 2rem;
        }
        
        .footer__container {
          row-gap: 5rem;
          display: flex;
          justify-content: center;
        }
        
        .footer__logo, .footer__title {
          font-size: var(--h3-font-size);
          margin-bottom: var(--mb-0-75);
        }
        
        .footer__logo {
          display: inline-block;
          font-weight: var(--font-semi-bold);
          color: var(--title-color);
        }
        
        .footer__description, .footer__link {
          font-size: var(--small-font-size);
        }
        
        .footer__links {
          display: grid;
          row-gap: .5rem;
        }
        
        .footer__link {
          color: var(--title-color);
        }
        
        .footer__social {
          display: flex;
          column-gap: 1.5rem;
        }
        
        .footer__social-link {
          font-size: 1.25rem;
          color: var(--title-color);
        }
        
        .footer__copy {
          margin-top: 6rem;
          text-align: center;
          font-size: var(--smaller-font-size);
          color: var(--text-color);
        }
        
        /*=============== SCROLL UP ===============*/
        .scrollup {
          position: fixed;
          background: var(--first-color);
          right: 1rem;
          bottom: -20%;
          display: inline-flex;
          padding: .3rem;
          border-radius: .25rem;
          z-index: var(--z-tooltip);
          opacity: .8;
          transition: .4s;
        }
        
        .scrollup:hover {
          background-color: var(--first-color);
          opacity: 1;
        }
        .roc {
          transform: rotate(-45deg);
        }
        .scrollup__icon {
          font-size: 1.25rem;
          color: var(--title-color);
        }
        
        /* Show Scroll Up*/
        .show-scroll {
          bottom: 3rem;
        }
 