
@media screen and (max-width: 767px) {
    .nav__menu {
      position: fixed;
      background-color: var(--container-color);
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
      padding: 2.5rem 0;
      width: 90%;
      top: -100%;
      left: 0;
      right: 0;
      margin: 0 auto;
      transition: .4s;
      border-radius: 2rem;
      z-index: var(--z-fixed);
    }
    #nav-menus {
      position: fixed;
      background-color: var(--container-color);
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
      padding: 2.5rem 0;
      width: 90%;
      top: 50px;
      left: 0;
      right: -1000%;
      margin: 0 auto;
      transition: .4s;
      border-radius: 2rem;
      z-index: var(--z-fixed);
    }
    #navs {
      height:0;
    }
  }

@media screen and (max-width: 360px) {
    #navs{
      height:0px;
    }
    .loader img {
width: 50%;
    }
    .svg__img {
      width: 100%;
    }
    
    .services__img {
      width: 100px;
    }
    .app__buttons {
      grid-template-columns: max-content;
    }
    .footer__container {
      display: block;
    }
    .footer__content {
      margin-top: 40px;
    }
    .category {
        padding: 5px;
    }
    .category .card {
        width:100%;
        height: 22rem !important;
        margin-top: 40px;
        padding: 40px
        ;
       }
   .footer {
    display: flex;
    flex-direction: column;
   }
  }
  
  /* For medium devices */
  @media screen and (min-width: 576px) {
    .svg__img {
      width: 100%;
    }
    .section__title-center {
      text-align: initial;
    }
    .footer__container {
      grid-template-columns: repeat(2, 1fr);
    }
  
  }
  @media screen and (max-width: 576px) {
    .contact__form {
      padding: 10px;
      padding-top: 60px;
    }
    .row {
      display: flex;
      flex-direction: column;
    }
    .left {
  margin-top: 20px;
  margin-left: 0;
    }
    .letter__body {
      display: block;
    }
    .letter__form {
      display: block;
    }
    .letter__form input {
      width: 100%;
    }
    .letter__btn {
      margin-top: 10px;
      width: 100%;
    }
   
  }
  @media screen and (max-width:700px) {
    .row {
      display: flex;
      flex-direction: column;
    }
    .left {
  margin-top: 20px;
  margin-left: 0;
    }
   .category {
    padding: 40px;
   }
   .category .card {
    width:100%;
    height: 18rem !important;
    margin-top: 40px;
    padding: 40px;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .category .card img {
    height: 70%;
    width: 70%;
   }
   .category .card h4 {
    font-size: 18px;
   }
   .advice {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 40px;
    padding-left:20px ;
   }
   .advice button {
    margin-top: 20px;
   }
   .advice .column {
    text-align: center;
   }
   .footer {
    padding-top: 40px;
   }
   .footer__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
   }
   .loader img {
   width: 100px;
   height: 100px;
   }
   .new_user_modal .popup {
    width: 95%;
   }
  }
  @media screen and (max-width:870px) {
    .contact__form {
      padding: 40px;
      padding-top: 80px;
    }
    .row {
      display: flex;
      flex-direction: column;
    }
    .left {
  margin-top: 20px;
  margin-left: 0;
    }
  }
  
  @media screen and (min-width: 767px) {
    body {
      margin: 0;
    }
    .section {
      padding: 6rem 0 2rem;
    }
    .nav {
      height: calc(var(--header-height) + 1.5rem);
    }
    .nav__list {
      flex-direction: row;
      column-gap: 2.5rem;
    }
    .nav__toggle {
      display: none;
    }
    .change-theme {
      position: initial;
    }
    .app__buttons {
      justify-content: initial;
    }
  }
  
  /* For large devices */
  @media screen and (min-width: 968px) {
    .button__header {
      display: block;
    }
    .svg__img {
      width: 470px;
    }
    .about__container,
    .security__container,
    .app__container,
    .contact__container {
      column-gap: 6rem;
    }
    .services__container {
      grid-template-columns: repeat(3, 1fr);
    }
    .contact__container {
      grid-template-columns: 3fr 1.5fr 1.25fr;
    }
    .footer__container {
      grid-template-columns: repeat(5, 1fr);
    }
    .footer__social {
      align-items: flex-start;
    }
    .footer__social-link {
      font-size: 1.45rem;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .container {
      margin-left: auto;
      margin-right: auto;
    }
    .home__img {
      width: 540px;
    }
    .home__description {
      padding-right: 5rem;
    }
    .footer__container {
      column-gap: 3rem;
    }
    .scrollup {
      right: 2rem;
    }
  }